*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;

}
@font-face {
    font-family:f1;
    src: url(/font/NimbusSans-Regular.otf);
}

/* setction t-1 */

#t1{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto ;
    grid-template-areas:"t1-head t1-head t1-head t1-head "
                        "t1-section t1-section t1-section t1-section "
                        "t1-main t1-main t1-main t1-main"
                        "t1-foot t1-foot t1-foot t1-foot";
}

#t1-head{
    height:70px;
    width: 100%;
    padding: 60px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area:t1-head;
}

#t1-head img{
    height: 45px;
    
}

.t1-head-center a{
    text-decoration: none;
    font-size: 19px;
    margin-right: 15px;
    color: black;
}

.t1-head-right button{
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 25px;
    margin-right:15px ;
    cursor: pointer ;
}
.t1-head-right .btn1{
    color:#0161FE;
    background-color: none;
    border: 2px solid #0161FE;
}

/* hover pending */

.t1-head-right .btn2{
    color: white;
    background-color: #0161FE;
    border: none;
}

/* t1 section */

#t1-section{
    grid-area: t1-section ;
    display: flex;
    justify-content:space-evenly;
    /* gap: 20px; */
    height: auto;
    width: 100%;
    padding: 20px 60px;
}

#t1-leftinfo{
    width: 525px;
    font-size: 35px;
    font-weight: 100;
    font-family: f1;
}

#t1-rightinfo{
    /* padding-left: 20px; */
    font-size: 25px;
    flex: 1;
    margin-left: -50px;

}

#t1-rightinfo button{
    font-size: 20px;
    margin-top:15px ;
    padding: 12px 24px;
    border-radius: 25px;
    margin-right:15px ;
    cursor: pointer;
    
}


#t1-rightinfo .btn1{
    color:#0161FE;
    background-color: none;
    border: 2px solid #0161FE;
}


#t1-rightinfo .btn2{
    color: white;
    background-color: #0161FE;
    border: none;
}

/* t1 main */

#t1-main{
    grid-area: t1-main;
    padding: 80px 0;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #d9d9d9;
    background-image: url(/img/t1-hero.webp);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-repeat: no-repeat;
    min-height: 700px;
}

/* t1 footer */

.stat-container{
    grid-area:t1-foot ;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.stat-box{
    display: flex;
    flex-direction: column;
    text-align:center;
    gap: 10px;
}
.stat-box h2{
    font-size: 60px;
    font-weight:500;
}
.stat-box p{
    font-size: 20px;
    color: #716f6f;
}

/* expert section */

#expert-section{
    /* display: flex; */
    background-color: #f0efef;
    border-radius: 25px;
    padding: 100px 50px;
    margin: 0 20px;
}

#expert-section button{
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 25px;
    margin-right:15px ;
    cursor: pointer ;
}

#expert-section .expert-container{
    display: flex;
}
#ex-co1 {
    padding-top:350px ;
    font-family:f1 ;
    font-size: 25px;
    font-weight: 200;
}
#ex-co2{
    padding-top: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #716f6f;;
}
#ex-container2 img{
    height: 600px;
    margin-right: 45px;
    border-radius: 25px;
}

/* service */

#services{
    padding:40px 50px ;
    background-color: white;
}

#services button{
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 25px;
    margin-right:15px ;
    cursor: pointer ;
}
.service-con{
    padding: 50px 0;
    display: flex;
    align-items: center;
    /* gap: 50px; */
}
#ser-con-left{
    flex: 1;
    font-size: 25px;

}
#ser-con-right{
    flex: 1;
    font-size: 20px;
    color: #716f6f;
}

/* service-cards grid */

.service-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.blue-card{
    grid-column: span 1;
}
.team-card{
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}