*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: f1;
    src: url(/img/NimbusSans-Regular.otf);
}

/* setction t-1 */


#t1{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto ;
    grid-template-areas:"t1-head t1-head t1-head t1-head "
                        "t1-section t1-section t1-section t1-section "
                        "t1-main t1-main t1-main t1-main"
                        "t1-foot1 t1-foot2 t1-foot3 t1-foot4";
}

#t1-head{
    height:70px;
    width: 100%;
    padding: 60px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area:t1-head;
}

#t1-head img{
    height: 45px;
    
}

.t1-head-center a{
    text-decoration: none;
    font-size: 19px;
    margin-right: 15px;
    color: black;
}

.t1-head-right button{
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 25px;
    margin-right:15px ;
}
.t1-head-right .btn1{
    color:#0161FE;
    background-color: none;
    border: 2px solid #0161FE;
}

/* hover pending */

.t1-head-right .btn2{
    color: white;
    background-color: #0161FE;
    border: none;
}

/* t1 section */

#t1-section{
    grid-area: t1-section ;
    display: flex;
    justify-content:space-evenly;
    /* gap: 20px; */
    height: auto;
    width: 100%;
    padding: 20px 60px;
}

#t1-leftinfo{
    width: 525px;
    font-size: 35px;
    font-weight: 100;
    font-family: f1;
}

#t1-rightinfo{
    /* padding-left: 20px; */
    font-size: 25px;
    flex: 1;
    margin-left: -50px;

}

#t1-rightinfo button{
    font-size: 20px;
    margin-top:15px ;
    padding: 12px 24px;
    border-radius: 25px;
    margin-right:15px ;
    cursor: pointer;
    
}


#t1-rightinfo .btn1{
    color:#0161FE;
    background-color: none;
    border: 2px solid #0161FE;
}


#t1-rightinfo .btn2{
    color: white;
    background-color: #0161FE;
    border: none;
}